<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="MDFDoors.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
	</startup>
 <userSettings>
  <MDFDoors.Properties.Settings>
   <setting name="XSteps" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="YSteps" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="XDistanceBetween" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="YDistanceBetween" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="UseSteps" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UseExcel" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Excel" serializeAs="String">
    <value />
   </setting>
  </MDFDoors.Properties.Settings>
 </userSettings>
</configuration>
