<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModuleDoors.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ModuleDoors.Properties.Settings>
            <setting name="Height" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="OuterLevelNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="InnerLevelNumber" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="GrooveLevelNumber" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="OuterLevelName" serializeAs="String">
                <value>Outer</value>
            </setting>
            <setting name="InnerLevelName" serializeAs="String">
                <value>Inner</value>
            </setting>
            <setting name="GrooveLevelName" serializeAs="String">
                <value>Groove</value>
            </setting>
            <setting name="TopRailWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BottomRailWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LeftStileWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RightSideWidth" serializeAs="String">
                <value>2</value>
            </setting>
        </ModuleDoors.Properties.Settings>
    </userSettings>
</configuration>